<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a routerLink="/" class="navbar-brand">Lista de usuarios</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-label="">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a routerLink="/" class="nav-link">Usuarios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>